body {
  background-color: rgb(72, 240, 255);
  color: white;
  text-align: center;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 100px;
  font-weight: 100;
  text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black; 
}

button {
  border: none;
  border-radius: 10%;
  padding: 10px;
  transition-duration: 250ms;
}

button:hover {
  background-color: lightgrey;
  
}

/* game board table */

#board {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0 0 10px black;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px rgb(95, 95, 95);
}

/* pieces are div within game table cells: draw as colored circles */
.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  pointer-events: none; 
  animation: drop-piece 750ms;
}

@keyframes drop0 {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes drop1 {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes drop2 {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes drop3 {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes drop4 {
  from {
    transform: translateY(-250px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes drop5 {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0);
  }
}


.player1 {
  background-color: #ff0062;
}

.player2 {
  background-color: #3c00ff;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px rgb(95, 95, 95);
}

#column-top td:hover {
  background-color: rgb(219, 219, 219);
}
